<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Ionic App
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Ionic App</ion-title>
		</ion-toolbar>
	</ion-header>

	<div id="container">
		<form [formGroup]="homepageForm">
			<ion-list>
				<ion-item>
					<ion-select
						placeholder="-- Select User --"
						interface="popover"
						formControlName="users"
						(ionChange)="getPostByUserId($event.target.value)"
						[compareWith]="compareWithFn"
					>
						<ion-select-option value="">-- Select User --</ion-select-option>
						<ion-select-option *ngFor="let user of _users" [value]="user.id"
							>{{ user.name }}</ion-select-option
						>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-select
						name="posts"
						interface="popover"
						placeholder="-- Select Post --"
						formControlName="posts"
						(ionChange)="getCommentByPostId($event.target.value)"
						[compareWith]="compareWithFn"
					>
						<ion-select-option value="">-- Select Post --</ion-select-option>
						<ion-select-option *ngFor="let post of _posts" [value]="post.id"
							>{{ post.title }}</ion-select-option
						>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-select
						name="comments"
						interface="popover"
						placeholder="-- Select Comment --"
						formControlName="comments"
						[compareWith]="compareWithFn"
					>
						<ion-select-option value="">-- Select Comment --</ion-select-option>
						<ion-select-option
							*ngFor="let comment of _comments"
							[value]="comment.id"
							>{{ comment.body }}</ion-select-option
						>
					</ion-select>
				</ion-item>
			</ion-list>
		</form>
	</div>
</ion-content>
